#root {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 976px;
}

.App{
  min-height: 100%;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.read-the-docs {
  color: #888;
}
